// Typography
$body-font: 'Source Code Pro', monospace;
$base-font-size: 16px;

// Colors
$background-color: #000000;   // black
$font-color: #ffffff;         // white
$primary-color: #FFA500;      // orange

// Theme colors
$background-light: #ffffff;
$font-light: #000000;
$primary-color-light: #ff7f00;

$background-dark: #000000;
$font-dark: #ffffff;
$primary-color-dark: #ff7f00;

// Screen size for responsiveness
$small-screen: 400px;
$mid-screen: 768px;
$large-screen: 1024px;
